/* Import Technofy custom styles */
@import url('./styles/style.css');
@import url('./styles/custom-style.css');
@import url('./styles/special-classes.css');
@import url('./styles/responsive.css');

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.footer-section .middle-portion .first-column p {
  color: var(--e-global-color-light-white);
}
