/* Import Technofy custom styles */
@import url('./styles/style.css');
@import url('./styles/custom-style.css');
@import url('./styles/special-classes.css');
@import url('./styles/responsive.css');

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.footer-section .middle-portion .first-column p {
  color: var(--e-global-color-light-white);
}

@media (min-width: 768px) {
  .banner-section {
    padding: 102px 200px 290px 246px;
  }
}

.banner-section .banner_wrapper .banner-image {
  top: -65px;
}

@media only screen and (max-width: 767px) {
  .banner-section .banner_wrapper .banner-image {
    top: -30px;
  }
}
